numpy
scipy
matplotlib
ipython
jupyter
jupyterhub
jupyter_contrib_nbextensions
ipywidgets
pandas
sympy
nose
scikit-image
scikit-learn
h5py
oauthenticator
ipykernel
bokeh
tensorflow
Theano[test, doc]
keras
nltk
gensim
scrapy
statsmodels
requests
beautifulsoup4
html5lib